@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html{
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    background-color: #1f2937;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-bottom: 50px;
}

header ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    gap: 15px;
}

header ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

header p{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}
footer {
    background-color: black;
    flex-shrink: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.firstsection{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 300px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    max-width: 350px;
}

.text {
    max-width: 350px;
}

.image img{
    width: 400px;
    height: auto;
}

button{
    margin-top: 5px;
    background-color: #3882f6;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 300ms;
}

.secondsection{
    margin-top: 100px;
    background-color: white;
}
.secondsection .title{
    max-width: 100%;
    text-align: center;
    color: black;
    padding-top: 50px;
}

.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 52px;
    margin-top: 100px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.info {
    max-width: 200px;
    color: black;
    text-align: center;
  }

.info img {
    outline: 1px solid #3882f6;
    max-width: 200px;
}

.thirdsection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    font-style: italic;
}

.quote{
    width: 50%;
    p{
        padding: 0 2em;
        color: white;
    }
    .quotetext{
        padding-top: 2em;
        letter-spacing: 0.04em;
    }
    .attr {
        padding-bottom: 1em;
        letter-spacing: 0.07em;
        text-align: right;
        &:before {
          content: " - ";
        }
      }

}

.fourthsection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.bluebox{
    padding: 2em;
    width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 5px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-evenly;
    gap: 200px;
}

.bluebox button{
    outline: 1px solid white;
}